language: node_js
node_js:
  - 10
  - 11
  - 12
  - 13
  - 14
  - node

before_install:
  - export NODE_ENV=production
install:
  - npm install
  - npm run build
  - export NODE_ENV=dev
  - npm install
script:
  - npm run eslint
  - npm start & sleep 5s && npm test
