openapi: 3.0.1
info:
  title: Videoeditor
  description: API for clients of Web Based Video Editor.
  termsOfService: https://github.com/kudlav/videoeditor/blob/master/LICENSE
  contact:
    email: xkudla15@vut.cz
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Github repository
  url: https://github.com/kudlav/videoeditor/
servers:
  - url: https://editor.prednasky.com/api
tags:
  - name: project
    description: Everything about project
paths:
  /project:
    post:
      tags:
        - project
      summary: Start new project
      operationId: projectPOST
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: string
                    description: ID of new project.
  /project/{projectID}:
    get:
      tags:
        - project
      summary: Get state of project
      operationId: projectGET
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Project loaded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: string
                    description: id of project
                  resources:
                    type: object
                    description: 'associtaive array of resource objects {id: string, duration: string|null, mime: string|null, name: string|null}'
                  timeline:
                    type: object
                    description: 'empty array'
        404:
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - project
      summary: Remove project and all files
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      deprecated: true
      responses:
        200:
          description: Project removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        404:
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - project
      summary: Finish project, get video
      operationId: projectPUT
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                email:
                  type: string
                  description: email for finish notification
      responses:
        200:
          description: Rendering has started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        404:
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /project/{projectID}/file:
    post:
      tags:
        - file
      summary: Upload new file
      operationId: projectFilePOST
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  description: file to upload
                  format: binary
        required: true
      responses:
        200:
          description: File uploaded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: info message
                  resource_id:
                    type: string
                    description: uploaded file ID
        400:
          description: Bad request, missing file in request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /project/{projectID}/file/{fileID}:
    delete:
      tags:
        - file
      summary: Remove file from project
      operationId: projectFileDELETE
      parameters:
        - name: projectID
          in: path
          description: project ID
          required: true
          schema:
            type: string
        - name: fileID
          in: path
          description: file ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: File removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        403:
          description: Unable to remove, resource is in use.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Resource or project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - file
      summary: Add file to the end of default timeline
      operationId: projectFilePUT
      parameters:
        - name: projectID
          in: path
          description: project ID
          required: true
          schema:
            type: string
        - name: fileID
          in: path
          description: file ID
          required: true
          schema:
            type: string
        - name: duration
          in: header
          description: 'required for image files, format: "00:00:00,00"'
          schema:
            type: string
      responses:
        200:
          description: File added to a timeline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: info message
                  timeline:
                    type: string
                    description: file added to timeline with following ID
        400:
          description: Bad request, missing duration of image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Unsupported file type for the timeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Resource or project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /project/{projectID}/filter:
    post:
      tags:
        - filter
      summary: Apply filter to a timeline item
      operationId: projectFilterPOST
      description: 'You can use filters from MLT documentation. Each filter can be applied only once. There are some special names to distinguish multiple brightness and volume filters: fadeInBrightnerss => brightness, fadeOutBrightnerss => brightness, fadeInVolume => volume, fadeOutVolume => volume'
      externalDocs:
        url: 'https://www.mltframework.org/plugins/PluginsFilters/'
        description: Available filters and usage
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                track:
                  type: string
                  description: track containing items
                item:
                  type: string
                  description: index of track item
                filter:
                  type: string
                  description: type of filter
                params:
                  type: object
                  description: filter properties
        required: true
      responses:
        200:
          description: Filter applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Bad request, missing track, item or filter parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Filter already applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Track, item or project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - filter
      summary: Remove filter from a timeline item
      operationId: projectFilterDELETE
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                track:
                  type: string
                  description: track containing items
                item:
                  type: string
                  description: index of track item
                filter:
                  type: string
                  description: type of filter
        required: true
      responses:
        200:
          description: Filter removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Bad request, missing track, item or filter parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Track, item, filter or project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /project/{projectID}/transition:
    post:
      tags:
        - transition
      summary: Apply transition between two timeline items
      operationId: projectTransitionPOST
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                track:
                  type: string
                  description: track containing items
                itemA:
                  type: string
                  description: first item of transition
                itemB:
                  type: string
                  description: second item of transition
                transition:
                  type: string
                  description: type of transition
                duration:
                  type: string
                  description: duration of transition
        required: true
      responses:
        200:
          description: Transition applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Bad request, missing or invalid parameters in request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Transition already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Item, track or project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - transition
      summary: Remove transition between two timeline items
      parameters:
        - name: projectID
          in: path
          description: ID of project.
          required: true
          schema:
            type: string
      deprecated: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                track:
                  type: string
                  description: track containing items
                itemA:
                  type: string
                  description: first item of transition
                itemB:
                  type: string
                  description: second item of transition
                transition:
                  type: string
                  description: type of transition
      responses:
        200:
          description: Transition removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Bad request, missing track, item or transition parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Track, item, transition or project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /project/{projectID}/item:
    delete:
      tags:
        - item
      summary: Remove item from timeline
      deprecated: true
      parameters:
        - name: projectID
          in: path
          description: project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                track:
                  type: string
                  description: track containing items
                item:
                  type: string
                  description: index of track item
        required: true
      responses:
        200:
          description: Item removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Bad request, missing track or item parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Track or item not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /project/{projectID}/item/move:
    put:
      tags:
        - item
      summary: Move item in timeline
      operationId: projectItemPUTmove
      parameters:
        - name: projectID
          in: path
          description: project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                track:
                  type: string
                  description: track containing items
                item:
                  type: string
                  description: index of track item
                time:
                  type: string
                  description: new start time of item, in format '00:00:00,000'
        required: true
      responses:
        200:
          description: Item moved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Bad request, missing track or item parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Not enought free space at target place.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Track or item not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /project/{projectID}/item/split:
    put:
      tags:
        - item
      summary: Split item in timeline into two parts
      deprecated: true
      parameters:
        - name: projectID
          in: path
          description: project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                track:
                  type: string
                  description: track containing items
                item:
                  type: string
                  description: index of track item
                position:
                  type: string
                  description: position of cut in format '00:00:00,000'
        required: true
      responses:
        200:
          description: Item splitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Bad request, missing track or item parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Track or item not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        err:
          type: string
          description: error message title
        msg:
          type: string
          description: error description
    SuccessResponse:
      type: object
      properties:
        msg:
          type: string
          description: info message
